<h2>Ingredients:</h2>

<a href="/ingredients/new">Create Ingredient</a>

<% @ingredients.each do |ingredient| %>
  <ul>
    <li>Name: <%= ingredient.name%></li>
    <li>Cost: <%= ingredient.cost%></li>
    <li>Amount: <%= ingredient.amount%></li>
  </ul>

  <% if ingredient.user_id == session[:id] %>
    <a href="/ingredients/<%=ingredient.id%>/edit">Edit Ingredient</a>
    
    <form action="/ingredients/<%=ingredient.id%>/delete" method="POST">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Ingredient">
    </form>
  <% end %>
<% end %>